@import "variables";
@import "mixins";

.excel__toolbar {
    padding: 7px 10px;
    display: flex;
    height: $toolbar-height;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;

    & .button {
        @include button(green);
    }
}